
.marginTop10{
    margin-top: 10px;
}
.marginTop20{
    margin-top: 20px;
}
.marginTop25{
    margin-top: 25px;
}

.marginTop30{
    margin-top: 30px;
}

.marginTop40{
    margin-top: 50px;
}
.inputHeight34{
    height:34px;
}

.myThemeBtn{
    background-color: #102F42;
    color: #fff;
    border-radius: 0;
    border: 1px solid #102F42;
    font-size: 14px;
}
.myThemeBtn:hover{
    color: #fff;
}
.fontEight{
    font-size: 8px;
}
.fontTen{
    font-size: 10px;
}
.fontTwelve{
    font-size: 12px;
}
.fontThirteen{
    font-size: 13px;
}
.fontFourteen{
    font-size: 14px;
}

.fontSeventeen{
    font-size: 17px!important;
}

.bg-voilet {
    background-color: #550c72!important;
}
.btnBack{
    background-color: #102F42;
    color: #fff;
    margin-top: 1px;
    padding: 6px 7px 3px 7px;
    border-radius: 0;
}
.btnBack i{
    font-size: 21.5px;
    color: #fff;
    line-height: 1;
}


[class*=sidebar-dark-] {
    background-color: #f2f2f2;
}
.main-header{
    box-shadow: 3px 3px 6px #999;
    background-color: transparent;
}
.content-wrapper{
    background-color: #fff;
    position: relative;
}
.content-wrapper>.content {
    background-color: #fff;
}
.leftSideMenuBox{
    padding: 6px;
    background-color: #102f42;
    width: 90px;
    margin: 0 auto;
    border-radius: 5px;
    transition: all .3s ease;
}
.leftSideMenuBox img{
    width: 40px;
}
.leftSideMenuBox p{
    font-size:17px;
}
.leftSideMenuBox:hover{
    box-shadow: 2px 2px 4px #999;
}
.brand-link {
    padding: 8px .5rem 8px;
}
.brand-text{
    color: #102f42;
    font-size:29px;
    text-transform: uppercase;
}

[class*=sidebar-dark] .user-panel {
    padding: 12px 0!important;
}
.content-header {
    padding: 3px 15px;
}
.sidebarNavWrap .user-panel a{
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
}
.sidebarNavWrap .user-panel .image img{
    width: 35px;
    height: 35px;
    object-fit: cover;
}
.sidebarNavWrap .user-panel .info a:hover{
    color: #000;
}


.main-sidebar .sidebarNavWrap .nav-pills .nav-link {
    color: #3b3d3e;
    padding: 7px 10px;
    height: auto;
}








.myNewNav .dropdown-menu.show{
    border-radius: 0;
}
.myNewNav .dropdown-item {
    border-bottom: 1px solid #f2f2f2;
}
.myNewNav .dropdown-item.active, .myNewNav .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #212529;
}
.myNewNav .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #212529;
}


.sidebar-mini .layout-fixed .sidebar-collapse .leftSideMenuBox {
    padding: 10px;
    background-color: #102f42;
    width: 55px;
    margin: 0 auto;
    border-radius: 5px;
    transition: all .3s ease;
}



table.dataTable tbody th, table.dataTable tbody td{
    padding: 2px 8px;
}


.mainTable.table thead th {
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    padding: 0.75rem 6px;
}
.mainTable.table td{
    font-size: 13.25px;
    padding: 2px 8px;
    vertical-align: middle;
}
.sideTable.table thead th {
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    padding: 6px 8px;
}
.sideTable.table td{
    font-size: 14px;
    padding: 5px 8px;
}




.dataTables_wrapper .dataTables_paginate .paginate_button {
    min-width: 1.5em;
    padding: 0px 8px;
}
/*.table.dataTable thead .sorting {
    background-image: url("");
}*/
/*table.dataTable thead .sorting_asc {
    background-image: url() !important;
}
#dataPlace label:not(.form-check-label):not(.custom-file-label) {
    display: none;
}*/

.content-wrapper {
    /*padding-top: 7px;*/
}
.layout-fixed .brand-link {
    width: 250px; 
}
.main-sidebar, .main-sidebar::before {
    width: 250px;
}
.main-sidebar {
    overflow-x: hidden;
}
/*@media (min-width: 768px){
    body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
    transition: margin-left .3s ease-in-out;
    margin-left: 250px;
    padding: 10px 0;
    }
}
@media (min-width: 992px){
    .sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused, .sidebar-mini.sidebar-collapse .main-sidebar:hover {
        width: 250px;
    }   
}*/

[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus {
    background-color: #ccc;
    color: #000;
}
.nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus {
    background-color: #ccc;
    color: #000;
}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:hover {
    background-color: #ccc;
    color: #000;
}

.sidebarNavWrap nav ul{
    padding-left: 0px;
}

.lineHeightOneTwo{
    line-height: 1.25;
}

/*.leftSideMenuBox {
    padding: 6px;
    background-color: #102f42;
    width: 55px;
    margin: 0 auto;
    border-radius: 5px;
    transition: all .3s ease;
}
.leftSideMenuBox img {
    width: 33px;
}
.leftSideMenuBox p {
    font-size: 15px;
}*/




.mainNavigationMenu nav{
    background-color: #f2f2f2;
    box-shadow: 2px 2px 6px #999;        
}
.mainNavigationMenu nav .navbar-brand{
    font-weight: 800;
    color: #111;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 10px;
}
.mainNavigationMenu nav .navbar-brand:hover{
    color: #111;
}
.navbar-dark .navbar-nav .nav-link {
    color: #111;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #102f42;
}
.mainNavigationMenu .navbar-dark .navbar-nav .nav-link:focus, .mainNavigationMenu .navbar-dark .navbar-nav .nav-link:hover {
    color: #000;
}  








.myNewCard.card{
    border-radius: 0;
}
.myNewCard.card .card-header{
    background-color: #212529;
    padding: 10px 15px;
    border-radius: 0;
    border:1px solid #212529;
}
.myNewCard.card .card-body input{
    border-radius: 0;
    height: 34px;
}
.myNewCard.card select{
    border-radius: 0!important;
}
.myNewCard.card .custom-file-label{
    border-radius: 0!important;
    padding: 3px 10px;
    height: 34px;
}
.myNewCard.card label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 600;
}
.myNewCard.card .custom-file-label::after {
    top: -3px;
}
.myNewCard.card .myNewBtn{
    background-color: #212529;
    border: 1px solid #212529;
    border-radius: 0;
    padding: 5px 20px;
}


.darkBlueBg{
    background-color: #102f42;
}
.myNewLinkBtn{
    background-color: #102f42;
    border: 1px solid #102f42;
    border-radius: 0;
    padding: 5px 20px;
    transition: all .3s ease;
    white-space: nowrap;
}

.actionDelete {
    background-color: #e01634;
    color: #fff;
    font-size: 12px;
    padding: 3px 6px;
    transition: all .3s ease;
}
.actionEdit {
    background-color: #2eaf2b;
    color: #fff;
    font-size: 12px;
    padding: 3px 6px;
    /*border-radius:0;*/
}

.actionPending {
    background-color: #d77a37;
    color: #fff;
    font-size: 12px;
    padding: 3px 6px;
    /*border-radius:0;*/
}
.actionView {
    background-color: #3977db;
    color: #fff;
    font-size: 12px;
    padding: 3px 6px;
    transition: all .3s ease;
}
.actionOtherBtn {
    background-color: #184556;
    color: #fff;
    font-size: 12px;
    padding: 3px 6px;
    transition: all .3s ease;
}
.actionOtherBtn:hover{
    color: #999;
}

.myAlertBox{
    padding: 5px 40px 5px 20px;
    position: fixed; 
    z-index: 9999;
    white-space: nowrap;
    border-radius: 4px;
    right:15px;
    top:15px;
    font-size: 14px;
}
.myAlertBox.alert-dismissible .close, .myAlertBox.alert-dismissible .mailbox-attachment-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 5px 10px;
    color: #fff;
}









.productSlider .item{
    padding: 1px 0 1px 1px;
}
.productBox .productName p{
    font-size: 16px;
    line-height: 1.3;
    color: #3F99D3;
}
.productBox .card-header img{
    width: 80%;
    margin: 0 auto;
}
.productBox .ribbon-wrapper.ribbon-xl .ribbon {
    right: 4px;
    top: 19px;
    width: 300px;
    text-transform: none;
}
.list-slider .ribbon-wrapper.ribbon-xl .ribbon {
    right: -27px;
    top: 21px;
    width: 240px;
}
.list-slider .ribbon-wrapper .ribbon{
    font-size: 10px;
}
.productBox .priceBox h2{
    font-weight: 600;
    font-size: 15px;
}
.productBox .priceBox h3{
    font-weight: 500;
    font-size: 15px;
    margin-top: 4px;
}
.productBox .addCartBtn{
    background-color: #3F99D3;
    border: 1px solid #3F99D3;
    border-radius: 0;
    padding: 3px 8px;
    font-size: 14px;
}

.productSlider.owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    left: 0;
    top: 32%;
    font-size: 30px;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 2px #999;
    padding: 7px 7px!important;
    color: #111;
}
.productSlider.owl-carousel .owl-nav button.owl-next{
    position: absolute;
    right: 0px;
    top: 32%;
    font-size: 30px;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 2px #999;
    padding: 7px 7px!important;
    color: #111;
}
.headerText a{
    text-decoration: none;
    color: #000;
}
.headerText h2{
    font-size: 20px;
    font-weight: 600;
    color: #3F99D3;
    text-transform: uppercase;
}
.headerText .viewAllBtn{
    font-size: 14px;
    background-color: #3F99D3;
}



.cartCountWrap a{
    color: #102f42;
    padding: 0px 0 3px 10px;
    font-size: 23px;
}
.cartCountWrap .counting{
    margin-top: -40px;
    margin-left: 14px;
    font-size: 11px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    padding:2px;
    min-width: 20px;
    text-align: center;
}




.searchWrap input{
    border-radius: 0px 0 0 0px;
    height:36px;
    font-size: 14px;
    width: 335px;
    padding-left:7px;
}
.searchWrap button{
    border-radius: 0px 0 0 0px;
    background-color: #102f42;
    border: 1px solid #102f42;
    padding: 2px 10px;
}




.couponWrap input{
    border-radius: 0px 0 0 0px;
    height:36px;
    font-size: 14px;
    padding-left:7px;
}
.couponWrap button{
    border-radius: 0px 0 0 0px;
    background-color: #102f42;
    border: 1px solid #102f42;
    padding: 2px 10px;
}









/*Single Product Detail Page Start*/
.picZoomer{
    position: relative;
}
.picZoomer-pic-wp{
    position: relative;
    overflow: hidden;
    text-align: center;
}
.picZoomer-pic-wp:hover .picZoomer-cursor{
    display: block;
}
.picZoomer-zoom-pic{
    position: absolute;
    top: 0;
    left: 0;
}
.picZoomer-zoom-wp{
    display: none;
    position: absolute;
    z-index: 999;
    overflow: hidden;
    border:1px solid #eee;
    height: 460px;
    margin-top: -19px;
    background-color: #fff;
}
.picZoomer-cursor{
    display: none;
    cursor: crosshair;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid #eee;
    background-color: rgba(0,0,0,.1);
}
.picZoomCursor-ico{
    width: 23px;
    height: 23px;
    position: absolute;
    top: 40px;
    left: 40px;
    background: url(images/zoom-ico.png) left top no-repeat;
}

.my_img {
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
}
.piclist li{
    display: inline-block;
    width: 90px;
    height: 99px;
    border: 1px solid #eee;
}
.piclist li img{
    width: 97%;
    height: auto;
}
.picZoomer-pic-wp,
.picZoomer-zoom-wp{
    border: 1px solid #eee;
}
/*.section-bg {
    background-color: #fff1e0;
}*/
/*section {
    padding: 60px 0;
}*/
.row-sm .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}
._boxzoom .zoom-thumb {
    width: 90px;
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
}
._boxzoom .zoom-thumb ul.piclist {
    padding-left: 0px;
    top: 0px;
}
._boxzoom ._product-images {
    width: 80%;
    display: inline-block;
}
._boxzoom ._product-images .picZoomer {
    width: 100%;
}
._boxzoom ._product-images .picZoomer .picZoomer-pic-wp img {
    left: 0px;
}
._boxzoom ._product-images .picZoomer img.my_img {
    width: 100%;
}
._product-images .mainImgPrDetail{
    width: 100%;
    height:400px;
    object-fit: cover;
}
.piclist li img {
    height:85px;
    object-fit:cover;
}
._product-detail-content {
    background: #fff;
    padding: 15px;
    border: 1px solid lightgray;
}
._product-detail-content p._p-name {
    color: black;
    font-size: 20px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 12px;
}
.p-list span {
    margin-right: 15px;
}
.p-list span.price {
    font-size: 25px;
    color: #318234;
}
._p-qty > span {
    color: black;
    margin-right: 15px;
    font-weight: 500;
}
._p-qty .value-button {
    display: inline-flex;
    border: 0px solid #ddd;
    margin: 0px;
    width: 30px;
    height: 35px;
    justify-content: center;
    align-items: center;
    background: #102f42;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
}

._p-qty .value-button {
    border: 0px solid #102f42;
    height: 28px;
    font-size: 20px;
    font-weight: bold;
}
._p-qty input.inputIncDec {
    text-align: center;
    border: none;
    border-top: 1px solid #102f42;
    border-bottom: 1px solid #102f42;
    margin: 0px;
    width: 50px!important;
    height: 28px;
    font-size: 14px;
    box-sizing: border-box;
}
._p-add-cart {
    margin-left: 0px;
    margin-bottom: 15px;
}
.p-list {
    margin-bottom: 10px;
}
._p-features > span {
    display: block;
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
._p-add-cart .buy-btn {
    background-color: #102f42;
    color: #fff;
}
._p-add-cart .btn {
    text-transform: capitalize;
    padding: 6px 20px;
    /* width: 200px; */
    border-radius: 52px;
}
._p-add-cart .btn {
    margin: 0px 8px;
}

/*=========Recent-post==========*/
.title_bx h3.title {
    font-size: 22px;
    text-transform: capitalize;
    position: relative;
    color: #102f42;
    font-weight: 700;
    line-height: 1.2em;
}
.title_bx h3.title:before {
    content: "";
    height: 2px;
    width: 20%;
    position: absolute;
    left: 0px;
    z-index: 1;
    top: 40px;
    background-color: #102f42;
}
.title_bx h3.title:after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 40px;
    background-color: #ffc107;
}
/*.common_wd .owl-nav .owl-prev, .common_wd .owl-nav .owl-next {
    background-color: #102f42 !important;
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 0px !important;
}
.owl-nav .owl-next {
    right:-10px;
}
.owl-nav .owl-prev, .owl-nav .owl-next {
    top:50%;
    position: absolute;
}*/
.common_wd .owl-nav .owl-prev i, .common_wd .owl-nav .owl-next i {
    color: #fff;
    font-size: 14px !important;
    position: relative;
    top: -1px;
}
.common_wd .owl-nav {
    position: absolute;
    top: -21%;
    right: 4px;
    width: 65px;
}
.owl-nav .owl-prev i, .owl-nav .owl-next i {
    left: 0px;
}
._p-qty .decrease_ {
    position: relative;
    right: -5px;
    top: 2px;
}

._p-qty .increase_ {
    position: relative;
    top: 2px;
    left: -5px;
}
/*========box========*/
.sq_box {
    padding-bottom: 5px;
    border-bottom: solid 2px #102f42;
    background-color: #fff;
    text-align: center;
    padding: 15px 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.item .sq_box span.wishlist {
    right: 5px !important;
}
.sq_box span.wishlist {
    position: absolute;
    top: 10px;
    right: 20px;
}
.sq_box span {
    font-size: 14px;
    font-weight: 600;
    margin: 0px 10px;
}
.sq_box span.wishlist i {
    color: #adb5bd;
    font-size: 20px;
}
.sq_box h4 {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    color: #343a40;
    margin-top: 10px;
    margin-bottom: 10px !important;
}
.sq_box .price-box {
    margin-bottom: 15px !important;
}
.sq_box .btn {
    border-radius: 50px;
    padding: 5px 13px;
    font-size: 14px;
    color: #fff;
    background-color: #102f42;
    /*font-weight: 600;*/
}
.sq_box .price-box span.price {
    text-decoration: line-through;
    color: #6c757d;
}
.sq_box span {
    font-size: 14px;
    font-weight: 600;
    margin: 0px 10px;
}
.sq_box .price-box span.offer-price {
    color:#28a745;
}
.sq_box img {
    object-fit: cover;
    height: 150px !important;
    /*margin-top: 20px;*/
}
.sq_box span.wishlist i:hover {
    color: #102f42;
}
/*Sngle Product Detail Page End*/







.statusApprove{
    background-color: #17a2b8;
    padding: 2px 15px;
    color: #fff;
    border-radius: 20px;
    white-space: nowrap;
}
.statusDisapprove{
    background-color: #E01634;
    padding: 2px 15px;
    color: #fff;
    border-radius: 20px;
    white-space: nowrap;
}
.statusPending{
    background-color: #ffc107;
    padding: 2px 15px;
    color: #000;
    border-radius: 20px;
    white-space: nowrap;
}
.statusDelivered{
    background-color: #28A745;
    padding: 2px 15px;
    color: #fff;
    border-radius: 20px;
    white-space: nowrap;
}
.statusComplete{
    background-color: #2eaf2b;
    padding: 2px 15px;
    color: #fff;
    border-radius: 20px;
    white-space: nowrap;
}


.myBtnInfo{
    background-color: #17a2b8;
    padding: 2px 15px;
    color: #fff;
    border-radius: 20px;
}
.myBtnDanger{
    background-color: #E01634;
    padding: 2px 15px;
    color: #fff;
    border-radius: 20px;
}




.orderImg{
    width: 50px;
    height: 50px;
    object-fit: cover;
}



.myForm input, .myForm select{
    height: 37px!important;
    border-radius: 0;
    padding: 4px 8px;
    font-size: 14px;
}





.profileCard{
    box-shadow: 3px 3px 9px #000;
    margin-top: 82px;
}
.profileCard .card-body{
    padding: 30px 40px;
}
.profileCard .card-body label{
    margin-bottom: 3px;
    font-size: 14px;
}
.profileHeader{
    background-image: url(../img/product/profileBg.jpg);
    background-size: cover;
    background-position: center;
    height: 170px;
    box-shadow: 3px 3px 9px #000;
}
.profileHeader h2{
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}
.profileHeader img{
    width: 125px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 95px;
    box-shadow: 2px 2px 8px #000;
}
.profileCard .profileHeader h2{
    font-size: 27px;
    font-weight: 600;
}
.profileCard .form-group{
    margin-bottom: 10px;
}

.profileCard p strong {
    font-weight:600;
    font-size: 14px;
}
.profileCard .profileProgreeBar{
    margin-top: -4px;
}
.profileCard .profileProgreeBar p{
    margin-bottom: 3px;
}
.profileCard .profileProgreeBar .progress{
    width:250px;
}

.myPopup .modal-header{
    background-color: #102f42;
    color: #fff;
}
.myPopup .modal-header{
    padding: 8px 15px;
}
.myPopup .modal-header .modal-title{
    font-size: 20px;
}



.neuBtn {
    align-items: center;
    background-color: #dfdddd;
    box-shadow: 
        12px 12px 16px 0 rgba(0, 0, 0, 0.25),
        -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    display: flex;
    height: 50px;
    justify-content: center;
    margin-right: 4rem;
}
/*.helpFormWrap .note-editable.card-block{
    min-height: 200px;
  }*/






.confirmPage .boxOne{
    box-shadow: 3px 3px 9px #999;padding: 50px;text-align: center;
}
.confirmPage .boxSize{
    width:700px;
    margin: 20px auto;
}
.confirmPage .boxOne h3{
    font-size: 21px;font-weight: 600;
}
.SocialIconList{
    margin-top: 30px;
}
.SocialIconList ul{
    margin: 0 auto;
    padding: 0;
}
.SocialIconList ul li{
    list-style: none;
    display: inline-block;
}
.SocialIconList ul li a{
    color: #fff;
    padding: 5px;
}
.SocialIconList ul li a i{
    color: #fff;
    padding: 11px;
    background-color: #000;
    border-radius: 50%;
    width: 39px;
    height: 39px;
    text-align: center;
}



/*.tableScrollWrap{
    height: 400px;
    overflow-y: scroll;
}
*/

.cartSection .leftSide table thead th{
    font-size: 14px;
    padding: 5px 7px;
}
.cartSection .leftSide table tbody td{
    font-size: 14px;
    padding: 5px 7px;
}
.cartSection .leftSide .removeCart{
    font-weight: 900;
    padding: 5px 10px;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 5px #999;
    color: red;
}
.cartSection .leftSide .proName{
    color: #000;
    font-weight: 600;
    margin-bottom: 2px;
    line-height: 1.2;
}
.cartSection .leftSide .catName{
    color: #999;
    font-weight: 400;
    font-size: 13px;
}
.cartSection .leftSide img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.cartSection .rightSide{
    background-color: #102f42;
    box-shadow: 2px 2px 7px #999;
}
.cartSection .rightSide .totalAm{
    font-size: 19px;
    font-weight: 600
}


.checkoutLeft .checkoutLeftHead{
    color: black;
    font-size: 20px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 12px;
}




.myForm input[type=radio]{
    height: auto!important;
}
.content-header .breadcrumb {
    font-size: 14px;
}

.productBox .checkboxWrap{
    margin-right: 4px;
}
.productBox .checkboxWrap input[type=checkbox]{
    transform: scale(1.6);
}


.totalValue{
    font-size: 15px!important;
    /*font-weight: 600;*/
}

.salesManAppInputWrap{
    display: flex;
    white-space: nowrap;
    position: relative;
}
.salesManAppInputWrap a{
    border-radius: 0;
    /*position: absolute;*/
    right: 0;
    font-size: 13px;
}
.salesManAppInputWrap input{
    border-radius: 0;
    height:26px;
    padding: 2px 5px;
    width: 115px;
}


.sidebar-mini.layout-fixed{
    top:0!important;
}
.languageConvertorWrap{
    height:25px;
    overflow: hidden;
    margin-top: 6px;
    width: 130px!important;
}
select.goog-te-combo{
    width: 130px;
}
.goog-te-banner-frame.skiptranslate{
    display: none!important;
}
.goog-te-gadget .goog-te-combo{
    border:1px solid #3F99D3;
    font-size: 14px;
    color: #3F99D3;
}
select.goog-te-combo:focus-visible {
    outline: #3F99D3 auto 1px;
}
select.goog-te-combo option{
    display: none;
    font-size: 14px;
}
select.goog-te-combo option[value="en"], select.goog-te-combo option[value="hi"]{
    display: block;
}



@media (min-width: 992px){
    .dashboardTopBox {
        -webkit-flex: 0 0 16.666667%;
        -ms-flex: 0 0 16.666667%;
        flex: 17 0 16.666667%;
        max-width: 22.666667%!important;
    }
}



.myIDImgPopUpWrap #myIDImgPopUp {
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
    width:30px;
    height:37px;
    object-fit:cover;
    margin-right: 5px;
    margin-top: 8px;
    border:2px solid #999;
}
.myIDImgPopUpWrap .modal {
    width: 300px;
    height: auto;
    margin: 0 auto;
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: -200px;
    right: 0;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
.myIDImgPopUpWrap .modal-content {
    margin: auto;
    display: block;
    width: 100%;
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
.myIDImgPopUpWrap .close {
    position: absolute;
    top: 0px;
    z-index: 4;
    right: 10px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
}
.myIDImgPopUpWrap .close:hover,
.myIDImgPopUpWrap .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 700px){
    .myIDImgPopUpWrap .modal-content {
        width: 100%;
    }
}

.myIDImgPopUpWrap .IDImg{
    width: 30px;
    height: 56px!important;
    object-fit: cover;
    margin-right: 5px;
    margin-top: 8px;
    border: 2px solid #999;
}

.headerTopCount .linkWrap{
    color: #000;
}
.dashboardTbl table thead th{
    font-size: 14px;
}
.dashboardTbl table tbody td{
    font-size: 14px;
    padding-top: 9px;
    padding-bottom: 9px;
}
.dashboardBoxShadow{
    box-shadow: 3px 3px 9px #999;
}

.enquiryGenerated{
    background-color: #550c72;
    padding: 2px 15px;
    color: #FFF;
    border-radius: 20px
}
.assigneSalesMan{
    background-color: #184556;
    padding: 2px 15px;
    color: #FFF;
    border-radius: 20px
}
.assigneDealer{
    background-color: #17a2b8;
    padding: 2px 15px;
    color: #FFF;
    border-radius: 20px
}
.enquiryPassed{
    background-color: #2eaf2b;
    padding: 2px 15px;
    color: #FFF;
    border-radius: 20px
}
.enquiryFailed{
    background-color: #e01634;
    padding: 2px 15px;
    color: #FFF;
    border-radius: 20px
}
.inConversation{
    background-color: #ffc107;
    padding: 2px 15px;
    color: #000;
    border-radius: 20px
}


.changePasswordSec h2{
    font-size: 22px;
    border-left: 5px solid #102F42;
    padding-left: 10px;
    font-weight: 500;
}
.changePasswordSec .changePassFormWrap .showPassBtn{
    margin-top:27px
}
.changePasswordSec .changePassFormWrap .showPassBtn .showPass{
    background-color: #2eaf2b;
    border: 1px solid #2eaf2b;
}
.changePasswordSec .changePassFormWrap .showPassBtn .hidePass{
    background-color: #e01634;
    border: 1px solid #e01634;
}
.error{
    color: #e01634;
}



.users-list>li img {
    border-radius: 50%;
    height: auto;
    /* max-width: 100%; */
    width: 70px;
    height: 70px;
}


.selectEnquiryWrap select{
    height: 34px;
    padding: 4px 3px;
}
.enquiryPendingBtn{
    background-color: #ffc107;
    border-color: #ffc107;
    color: #000;
}
.enquiryCompleteBtn{
    background-color: #2eaf2b;
    border-color: #2eaf2b;
    color: #fff;
}
.salesComplaintFilter span{
    font-size: 14px;
    font-weight: 600;
}
.salesComplaintFilter input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    margin-top: 6.97px;
    margin-left: -1rem;
}


.enquirySearchWrap input{
    height: 34px;
    padding: 4px 3px;
    border-radius: 0;
}
.enquirySearchWrap .enqStatusBtnWrap input{
    padding: 0px 17px;
}

.ui-menu-item-wrapper{
    font-size: 14px;
}



.backBtnAllPage{
    position: fixed;    
    width: 45px;
    height: 45px;
    right: 15px;
    bottom: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 9px #999;
    border-radius: 50%;
    padding: 7px 9px;
    z-index: 9999;
}

.deleteAlertModel .cancelbtn, .deleteAlertModel .deletebtn {
    float: left;
    width: 50%;
    padding: 8px;
}
.deleteAlertModel .cancelbtn {
    background-color: #ccc;
    color: black;
}
.deleteAlertModel .deletebtn {
    background-color: #f44336;
    color: #fff;
}
.deleteAlertModel .container {
    padding: 16px;
    text-align: center;
}
.modal.deleteAlertModel {
    display: none;
    position: fixed;
    z-index: 99999;
    left: 0;
    right: 0;
    top: 80px;
    width: 500px;
    height: 243px;
    overflow: auto;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 50px;
    box-shadow: 3px 3px 9px #999;
}
.deleteAlertModel .modal-content {
    background-color: #fefefe;
    margin: 0% auto 0% auto;
    border: 1px solid #888;
    /*width: 80%;*/
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    border: none;
    border-top: 1px solid #999;
    border-radius: 0;
    padding: 0 7%;
}
.deleteAlertModel .close {
    position: absolute;
    right: 14px;
    top: 5px;
    font-size: 40px;
    font-weight: bold;
    color: #0e0e0e;
}
.deleteAlertModel .close:hover,
.deleteAlertModel .close:focus {
    color: #f44336;
    cursor: pointer;
}
.deleteAlertModel .clearfix::after {
    content: "";
    clear: both;
    display: table;
}
@media screen and (max-width: 600px) {
    .modal.deleteAlertModel{
        width: 100%;
    }
    .modal.deleteAlertModel .modal-content h1{
        font-size: 30px;
        font-weight: 500;
    }
    .deleteAlertModel .cancelbtn, .deleteAlertModel .deletebtn {
        width: 100%;
    }
}

.multiDropDownInner{
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(0px, 34px, 0px);
}
.multiDropDownInner{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}
.multiDropDownInner>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.multiDropDownInner .dropdown-submenu {
    position: relative;
}
.multiDropDownInner .dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.multiDropDown .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.multiDropDown .dropdown-toggle{
    border: 1px solid #000;
    border-radius: 0;
    background-color: transparent;
    color: #000;
}
.multiDropDown .dropdown-toggle::after{
    display: none;
}
.getCoordinate{
    width: 100%;
    height: 400px;
}
.cordinatePopup{
    z-index: 9999!important;
}